# Requirements for Mondrian Framework
PyYAML
Jinja2
python-dotenv

# Mondrian Docs - Additional Plugins
mkdocs-minify-plugin
mkdocs-include-markdown-plugin
mkdocs-glightbox
mkdocs-macros-plugin
mkdocs-print-site-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-awesome-nav

# Drawio Extractor
defusedxml==0.7.1